* {
  font-family: Trirong, serif;
  background-color: #f5f5f5;
}

#main {
  margin-top: 80px;
  margin-bottom: 80px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

p {
  text-align: center;
}

#img-div {
  border: 10px solid white;
  background-color: white;
  max-width: 100%;
  height: auto;
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

figcaption i {
  background-color: white;
}

figcaption {
  background-color: white;
  font-family: poppins;
  font-size: 0.8em;
}

#img-caption {
background-color: white;
margin-top: 20px;
margin-bottom: 20px;
}

#tribute-info {
  margin-top: 40px;
  margin-bottom: 40px;
}

#tribute-link {
  color: #2F4BA5;
}

#tribute-link:hover {
  color: #111344;
}


h2 {
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  text-align: center;
}

li {
  line-height: 1.8;
  margin-right: 100px;
  margin-left: 100px;
  font-family: poppins;
}

.quote {
 font-weight: bold;
 margin-right: 100px;
  margin-left: 100px;
}

.bold {
  font-weight: bold;
}
